<nav class="navbar shadow bg-dark">
	<div class="container-fluid d-flex justify-content-between align-items-center">
		<a href="/" class="navbar-brand text-uppercase text-white"><b>Todo</b></a>

		<form class="input-group w-50" action="/query" method="post">
			{{form.csrf_token()}}
			<input type="" class="form-control" name="query" placeholder="search item's">
			<button class="btn btn-outline-warning">
				<ion-icon class="" name="search-outline"></ion-icon>
			</button>
		</form>
	</div>
</nav>